@import url("https://fonts.googleapis.com/css?family=Arvo&display=swap");

body .App {
  text-align: center;
  min-height: 100vh;
  background: url("./img/kilyan-sockalingum-478724-unsplash.jpg") no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App-header {
  display: flex;
  min-height: 20vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

/* .App .App-navbar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
} */

a #flixme {
  color: white;
}

@import url("https://fonts.googleapis.com/css?family=Bitter&display=swap");

.App-header h1#flixme {
  font-family: "Bitter", serif;
  font-size: calc(50px + 5vmin);
  text-transform: uppercase;
}

.movieSearch {
  margin-bottom: 5vh;
}

.moviesContainer {
  padding: 2vh;
}

.moviePage {
  padding: 2%;
  background: rgba(0, 0, 19, 0.6);
  margin: 0 auto;
  width: 70%;
  display: flex;
  border-radius: 10px;
}

.moviePoster {
  margin-right: 2vw;
}

.movieInfo {
  color: white;
  text-align: left;
}

.movieInfo .header {
  color: white;
}

.movieRating {
  background: rgba(255, 255, 255, 1);
  padding: 1%;
  border-radius: 5px;
}

.userPage .header {
  color: white;
}

.loader {
  color: white;
  padding: 50px;
  font-family: "Bitter", serif;
  font-size: calc(50px + 5vmin);
  text-transform: uppercase;
  z-index: 99;
}
