@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');

body .App {
  color: white;
  text-align: center;
  min-height: 100vh;
  background: url('./img/kilyan-sockalingum-478724-unsplash.jpg') no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.allContent {
  max-width: 1400px;
  margin: 0 auto;
}

.App-header {
  display: flex;
  min-height: 20vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.iconMenu {
  position: fixed;
  right: 0;
  z-index: 99;
  opacity: 0.6;
}

.authForm {
  margin: 0 auto;
  text-align: center;
  width: 40vw;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  color: white;
}

/* .App .App-navbar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
} */

a #flixme {
  color: white;
}

@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');

.App-header h1#flixme {
  font-family: 'Bitter', serif;
  font-size: calc(50px + 5vmin);
  text-transform: uppercase;
}

.movieSearch {
  margin-bottom: 5vh;
}

.movieFilters {
  width: 80%;
  margin: 0 auto;
}

.multiSelect {
  width: 100%;
  z-index: 52;
}
.select__menu {
  color: black;
  padding: 5px;
}

.ui.star.rating .icon {
  color: rgba(0, 0, 0, 0.6);
}

.ui.star.rating.cardHover {
  /* border-radius: 5px; */
}

/* .icon.seenIcon {
  top: 0;
  height: 100%;
  display: flex;
  align-items: flex-start;
  position: absolute;
  opacity: 0;
  transition: 0.3s;
} */

.allEncompassingDiv {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 1em 0;
  bottom: 0;
  width: 100%;
  position: absolute;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
}

.allEncompassingDiv:hover {
  opacity: 1;
}

.seenIcon {
  position: fixed;
  top: 7%;
  opacity: 0.8 !important;
}

i.big.icon.seenIcon {
  font-size: 3em;
}

i.yellow.icon.seenIcon {
  /* color: rgb(255, 238, 0) !important; */
}

.icon.seenIcon:hover {
  opacity: 0.9 !important;
}

.yellow.seenIcon {
  color: white !important;
}

.cardRating {
  position: fixed;
  bottom: 10%;
  width: 90%;
}

/* .icon.seenIcon:hover {
  opacity: 1;
}

.ui.star.rating.cardHover:hover {
  opacity: 1;
} */

div.cardRating i.icon {
  font-size: 1.2em;
}

.moviesContainer {
  padding-left: 5vh;
  padding-right: 5vh;
}

.usersContainer {
  margin: 0 auto !important;
  width: 50%;
}

.moviePage {
  padding: 2%;
  background: rgba(0, 0, 19, 0.7);
  margin: 0 auto;
  width: 80%;
  display: flex;
  border-radius: 10px;
}

.moviePosterColumn {
  margin-right: 2vw;
}

.moviePoster {
  max-height: 60vh;
  object-fit: contain;
}

.movieInfo {
  color: white;
  text-align: left;
}

.movieInfo .header {
  color: white;
}

.movieCast {
  font-weight: bold;
}

.movieOverview {
}

.movieGenres {
  font-size: 11px;
}

.movieRuntime {
  font-size: 11px;
}

.movieRating {
  background: rgba(255, 255, 255, 1);
  padding: 1%;
  border-radius: 5px;
}

.modal {
  position: absolute;
  left: 8.5%;
}

.userPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
  background: rgba(0, 0, 19, 0.7);
  padding: 2%;
}

.userDetails {
  width: 30%;
}

.userActivity {
  /* background-color: gray; */
  width: 60%;
}

.ui.tiny.image.userImage {
  width: 10vh;
  height: 10vh;
}

.userProfileAvatar {
  background-color: white !important;
  width: 66% !important;
}

.userCard {
  color: white;
  margin-bottom: 2vh;
}

.userCard:hover {
  color: rgb(212, 191, 191);
}

.friendCard,
.userCircle {
  margin: 1vh;
  background-color: white !important;
}

.userPage .header {
  color: white;
}

.userRecentMovies {
  padding-bottom: 8vh;
}

.loader {
  color: white;
  padding: 50px;
  font-family: 'Bitter', serif;
  font-size: calc(50px + 5vmin);
  text-transform: uppercase;
  z-index: 99;
}
