.App {
  text-align: center;
  min-height: 100vh;
  background: url('./img/kilyan-sockalingum-478724-unsplash.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.App-header {
  display: flex;
  min-height: 20vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header h1 {
  font-size: calc(50px + 5vmin);
}

.App-link {
  color: #61dafb;
}

h1 {
  color: white
}