@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');

body .App {
  color: white;
  text-align: center;
  min-height: 100vh;
  background: url('./img/kilyan-sockalingum-478724-unsplash.jpg') no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App-header {
  display: flex;
  min-height: 20vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.iconMenu {
  position: fixed;
  right: 0;
  z-index: 99;
  opacity: 0.6;
}

.authForm {
  margin: 0 auto;
  text-align: center;
  width: 40vw;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  color: white;
}

/* .App .App-navbar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
} */

a #flixme {
  color: white;
}

@import url('https://fonts.googleapis.com/css?family=Bitter&display=swap');

.App-header h1#flixme {
  font-family: 'Bitter', serif;
  font-size: calc(50px + 5vmin);
  text-transform: uppercase;
}

.movieSearch {
  margin-bottom: 5vh;
}

input,
.selection {
  /* border-radius: 500rem !important; */
}

.moviesContainer {
  padding-left: 5vh;
  padding-right: 5vh;
}

.usersContainer {
  margin: 0 auto !important;
  width: 50%;
}

.moviePage {
  padding: 2%;
  background: rgba(0, 0, 19, 0.7);
  margin: 0 auto;
  width: 80%;
  display: flex;
  border-radius: 10px;
}

.moviePoster {
  margin-right: 2vw;
}

.movieInfo {
  color: white;
  text-align: left;
}

.movieInfo .header {
  color: white;
}

.movieCast {
  font-weight: bold;
}

.movieOverview {
}

.movieGenres {
  font-size: 11px;
}

.movieRuntime {
  font-size: 11px;
}

.movieRating {
  background: rgba(255, 255, 255, 1);
  padding: 1%;
  border-radius: 5px;
}

.userPage {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90%;
  background: rgba(0, 0, 19, 0.7);
  padding: 2%;
}

.userDetails {
  width: 30%;
}

.userActivity {
  /* background-color: gray; */
  width: 60%;
}

.userProfileAvatar {
  background-color: white !important;
  width: 66% !important;
}

.userCard {
  color: white;
  margin-bottom: 2vh;
}

.userCard:hover {
  color: rgb(212, 191, 191);
}

.friendCard,
.userCircle {
  margin: 1vh;
  background-color: white !important;
}

.userPage .header {
  color: white;
}

.userRecentMovies {
  padding-bottom: 3vh;
}

.loader {
  color: white;
  padding: 50px;
  font-family: 'Bitter', serif;
  font-size: calc(50px + 5vmin);
  text-transform: uppercase;
  z-index: 99;
}
