.App {
  text-align: center;
  min-height: 100vh;
  background: url("./img/kilyan-sockalingum-478724-unsplash.jpg") no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App-header {
  display: flex;
  min-height: 20vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

@import url("https://fonts.googleapis.com/css?family=Bitter&display=swap");

.App-header h1 {
  font-family: "Bitter", serif;
  font-size: calc(50px + 5vmin);
  text-transform: uppercase;
}

.App-link {
  color: #61dafb;
}

.movieSearch {
  margin-bottom: 5vh;
}

.moviesContainer {
  padding: 2vh;
}

.moviePage {
  width: 70%;
  display: flex;
  justify-content: center;
}

.moviePoster {
  display: inline;
  float: left;
}

.movieInfo {
  display: inline;
}

.movieInfo .header {
  color: white;
}
